<h2>새 글 작성하기</h2>
<form action="/posts/create/" method="post">
    <input type="text" name="post_title" placeholder="제목">
    <br>
    <input type="text" name="post_content" placeholder="내용">
    <br>
    <input type="submit" value="작성하기">
</form>